.taskList {
  padding: 8px;
  background-color: #5797b9;
  border-radius: 2px;
}

.taskList .title {
  padding: 4px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.taskList .content {
  padding: 16px 4px;
  display: flex;
  flex-direction: column;
}

.taskList .btn {
  margin: 10px;
  padding: 6px;
  display: flex;
  border: black;
  border-radius: 10px;
  color: white;
  background: lightgreen;
  transition: background-color 0.5s;
}

.taskList .btn:hover {
  background-color: lightblue;
  cursor: pointer;
}
